@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: 'Poppins-Regular';
  }
}

.font-medium {
  font-family: 'Poppins-Medium';
}

.font-bold {
  font-family: 'Poppins-Bold';
}
